.stApp header {
    display: none;
}

.stMainBlockContainer {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0
}

.stVerticalBlock {
    row-gap: 0;
}

.stPageLink p {
    font-size: 14px;
}

.st-key-header {
    padding: 1rem;
}

.why-mirra, .how-it-works, .meet-my-team, .login {
    font-size: 14px;
}

.project_name {
    font-size: 26px;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 2rem;
}

.st-key-uploader {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #00267D;
}

.st-key-pdf-uploader label {
    float: left;
    color: white;
    padding-right: 3rem;
}

.st-key-pdf-uploader label>div>p {
    font-size: 24px;
}
.st-key-pdf-uploader div[data-testid="stFileUploaderDropzoneInstructions"]>div>span {
    display: none
 }
.st-key-pdf-uploader div[data-testid="stFileUploaderDropzoneInstructions"]>div::after {
    content:"Drag and Drop Resume Here in PDF format";
 }
.st-key-pdf-uploader div[data-testid="stFileUploaderDropzoneInstructions"]>div>small {
    display: none;
 }

.st-key-pdf-uploader section {
    padding: 0 0 0 1rem;
}
.st-key-pdf-uploader section>button {
    background-color: #3387FF;
}

.stFileUploaderFileData {
    color: white;
}

.st-key-filter {
    text-align: center;
    padding-top: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.st-key-filter .stElementContainer, .st-key-filter .stMarkdown {
    width: initial !important;
}

.filter-description {
    font-size: 1.5rem;
    height: 5rem;
}

.st-key-filter .stColumn {
    padding-left: 1rem;
    padding-right: 1rem;
}

.st-key-filter .stColumn .stElementContainer {
    padding-top: 1rem;
}

.st-key-visa_sponsor {
    padding-top: 0 !important;
}

.st-b6 {
    border-bottom-color: inherit;
}

.st-b7 {
    background-color: white;
}

.st-ak {
    border-top-width: 0;
}

.st-aj {
    border-right-width: 0;
}

.st-ai {
    border-left-width: 0;
}

.st-aw {
    border-bottom-right-radius: 0;
}

.st-au {
    border-bottom-left-radius: 0;
}

.stTextInput label, .stSelectbox label, .stSlider label, .stDateInput label, .stRadio label {
    float: left;
    padding-top: 0.5rem;
    padding-right: 1rem;
}

.stTextInput label p, .stSelectbox label p, .stSlider label p, .stDateInput label p, .stRadio label p {
    font-weight: bolder;
}

.stTextInput div[data-baseweb="input"] {
    max-width: 50%;
}

.stDateInput .st-ah, .stSelectbox .st-ah {
    width: initial;
}

.st-key-start-match {
    margin-top: 1rem;
}

.st-key-start-match button{
    background-color: #00267D;
    color: white;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 2rem;
    background-color: #00267D;
    color: white;
    font-size:1.5rem;
    margin-top: 2rem;
}
.copyright {
    font-size:0.8rem;
    float: right;
    margin-top: 2rem;
}